* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer reset {
    body {
        width: 100vw;
        background-color: var(--dark-blue-mail-testi-bg);
        background-image: url(/assets/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-position: 70% 700px;
        background-size: cover;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: "Raleway", sans-serif;
        /* background-image: url(/assets/bg-curvy-desktop.svg); */
    }

    img {
        display: block;
        width: 100%;
    }

    ul {
        list-style: none;
    }


    h1,
    h2,
    h3,
    h4,

    p {
        color: var(--white);
    }

    a {
        color: var(--white);
        cursor: pointer;
        margin: 0;
        padding: 0;
    }


}

:root {
    /* primary colors */
    --dark-blue-intro: hsl(217, 28%, 15%);
    --dark-blue-main-bg: hsl(218, 28%, 13%);
    --dark-blue-mail-footer-bg: hsl(216, 53%, 9%);
    --dark-blue-mail-testi-bg: hsl(219, 30%, 18%);

    /* Accent colors */
    --cyan-callToAction: hsl(176, 68%, 64%);
    --blue-callToAction: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);

    /* neutral color */
    --white: hsl(0, 0%, 100%);

    /* font-size */
    --fs-sm: 1rem, 2vw, 1.5rem;
    --fs-md: 1.5rem, 2.5vw, 2rem;
    --fs-xl: 2rem, 3vw, 2.5rem;
    --fs-xxl: 2.5rem, 3.5vw, 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 50px;
}

.fyloHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.h-logo {
    font-size: 2rem;
    color: white;
}

ul {
    display: flex;
    gap: 50px;
}

ul li a {
    color: var(--white);
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.intro div:first-child {
    margin-bottom: 50px;
}

.intro img {
    width: 100%;

}

.intro-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.intro-content h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    font-size: 2.5rem;
    margin-bottom: 50px;
    line-height: 1.5;

}

.intro-content p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    line-height: 1.5;
    text-wrap: balane;
    margin-bottom: 20px;

}

.button {
    padding: 15px 50px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(var(--blue-callToAction), var(--cyan-callToAction));
    cursor: pointer;
    color: var(--white);
    font-weight: 400;
}

.contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 45%;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 100px;
}

.content-1 div:first-child {
    width: 10%;
    display: noe;
    margin-bottom: 15px;
}

.content-1 div:last-child {
    text-align: center;
}

.content-1 div:last-child h2 {
    margin-bottom: 10px;
}

.content-1 div:last-child p {
    font-weight: 100;
}

.productive {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 100px;

}

.productive div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.productive div:first-child img {
    width: 90%;
}

.productive div:last-child {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    align-items: start;
    flex-direction: column;
    width: 50%;
}

.productive div:last-child h1 {
    width: 70%;
    text-wrap: balance;
    line-height: 1.3;
    margin-bottom: 20px;
    display: non;
}

.productive div:last-child p {
    font-weight: 100;
    margin-bottom: 15px;
}

.productive div:last-child a {
    display: flex;
    align-items: center;
    color: var(--white);
    width: 30%;
    flex-direction: row;
    gap: 10px;
}

.productive div:last-child img {
    width: 20px;
}

.container {
    display: flex;
    position: relative;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 100px;

}

.big-quote {
    position: absolute;
    top: -0px;
    left: -15px;
    width: 80px;
    display: noe;
    z-index: -1;
}

.cards {
    margin-top: 50px;
    display: flex;
    gap: 40px;

}

.card {
    width: 31%;
    height: auto;
    padding: 35px 25px 25px 25px;
    background-color: var(--dark-blue-mail-testi-bg);
    border-radius: 7px;
    box-shadow: 3px 3px 9px hsl(219, 30%, 18%);

}

.card p:first-child {
    font-weight: 200;
    margin-bottom: 25px;
    line-height: 1.3;

}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile div:first-child img {
    width: 25px;
    border: none;
    border-radius: 50%;
}

.profile div:last-child p {
    display: non;
    line-height: 1.3;
    font-size: 10px;
    font-weight: 200;
    margin-top: 2px;
}



.mailUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: var(--dark-blue-intro);
    box-shadow: 7px 7px 10px hsl(216, 53%, 9%);
    border: none;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 100px;
    position: absolute;
    top: -120px;
}



.mailUs h1 {
    margin-bottom: 20px;
}

.mailUs p {
    text-wrap: balance;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
}


.mailUs div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mailUs div div {
    display: noe;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.mailUs div div div {
    display: none;
    color: red;
    font-size: 14px;


    justify-content: start;
    align-items: start;
    gap: 0px;
}

.error_message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}


input.error {
    border: 2px solid red;
}

.mailUs div input {
    width: 100%;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
}

.mailButton {
    padding: 12px 25px;
    white-space: nowrap;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(var(--blue-callToAction), var(--cyan-callToAction));
    cursor: pointer;
    color: var(--white);
    font-weight: 400;
}

.mailButton:active {
    background-image: linear-gradient(var(--cyan-callToAction), var(--blue-callToAction));
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100vw;
    background-color: var(--dark-blue-mail-footer-bg);
    margin-top: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    width: 80%;
    margin-top: 200px;
    gap: 30px;
    padding: 50px;

}

.ft-1 {
    display: flex;
    justify-content: ;
    flex-direction: column;
}

.ft-1 div:first-child {
    display: ;
    width: 180px;
    margin-bottom: 30px;
}

.ft-1 div:last-child {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.ft-1 div:last-child img {
    display: non;
    width: 15px;
    height: 20px;
}

.ft-1 div:last-child p {
    display: non;
    width: 380px;
    text-wrap: balance;
    font-weight: 200;
}

.ft-2 {
    display: flex;
    flex-direction: column;
    text-align: start;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    margin-right: 100px;
}

.ft-2 div:first-child {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ft-2 div:first-child img {
    width: 20px;
}

.ft-2 div:last-child {
    display: flex;
    align-items: center;
    gap: 25px;
}

.ft-2 div:last-child img {
    width: 20px;
}

.ft-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.ft-3 ul {
    display: flex;

    justify-content: center;
    flex-direction: column;
}

.ft-4 {
    display: flex;
    margin-bottom: 100px;
    margin-right: 50px;

}

.ft-4 ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ft-5 {
    display: flex;
}

.ft-5 div {
    display: flex;
    gap: 50px;
}

.ft-5 img {
    width: 20px;
}

.fb,
.x,
.insta {
    cursor: pointer;
}







































@media screen and (max-width: 765px) {
    main {
        background-color: rey;
        width: 95%;
    }

    ul {
        gap: 20px;
    }

    ul li a {
        font-size: 14px;
        white-space: no-wrap;
    }

    .h-logo img {
        width: 120px;
    }

    .intro-content h1 {
        text-wrap: balance;
        font-size: 1.7rem;
        margin-bottom: 20px;
        line-height: 1.5;

    }

    .intro-content p {
        width: 80%;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .button {
        padding: 15px 80px;
        font-size: 15px;
        font-weight: 600;
    }

    .contents {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .content-1 {
        margin-bottom: 100px;
        flex: 0 0 90%;
    }

    .content-1 div:first-child {
        width: 70px;
        display: noe;
        margin-bottom: 15px;
    }

    .productive {
        flex-direction: column;

        gap: 40px;

    }

    .productive div:first-child {
        width: 90%;
    }

    .productive div:first-child img {
        width: 90%;
    }

    .productive div:last-child {
        flex-direction: column;
        width: 90%;
    }

    .productive div:last-child h1 {
        width: 100%;
        font-size: 1.7rem;
    }

    .productive div:last-child a {
        width: 70%;

    }

    .productive div:last-child img {
        width: 20px;
    }


    .big-quote {
        top: 15px;
        left: 4px;
        width: 60px;

    }

    .cards {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

    }

    .card {
        width: 90%;
        box-shadow: 3px 3px 9px hsl(219, 30%, 18%);
    }






    .mailUs {
        width: 90%;
    }

    .mailUs h1 {
        font-size: 1.5rem;
    }



    .mailUs div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mailUs div input {
        width: 100%;
        padding: 15px 25px;
        border: none;
        border-radius: 25px;
    }

    .mailButton {
        padding: 15px 25px;
        width: 100%;
        border: none;
        border-radius: 25px;
        background-image: linear-gradient(var(--blue-callToAction), var(--cyan-callToAction));
        cursor: pointer;
        color: var(--white);
        font-weight: 400;
    }

    .footer {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        width: 90%;
        margin-top: 200px;
        gap: 30px;
        padding: 50px 0;
    }

    .ft-1 div:first-child {
        display: ;
        width: 100px;
        margin-bottom: 30px;
    }

    .ft-1 div:last-child {
        display: flex;
        justify-content: start;
        gap: 20px;

    }

    .ft-1 div:last-child img {
        display: non;
        width: 15px;
        height: 20px;
    }

    .ft-1 div:last-child p {
        display: ;
        text-wrap: wrap width: auto;
        font-weight: 200;
    }

    .ft-2 div:first-child img {
        width: 15px;
    }

    .ft-2 div:last-child img {
        width: 15px;
    }

    .ft-3 {
        margin-top: 100px;
    }



    .ft-4 {
        margin-top: 60px;
    }



    .ft-5 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ft-5 div {
        display: flex;
        justify-content: center;
        align-items: center;

    }



}

@media screen and (max-width: 1024px) {

}